{% extends 'layout_app/index.html' %}
{% load static %}
{% block title %} О нас {% endblock %}



{% block aside %}
{% endblock %}
{% block content %}
<div class="main-page" style="background: rgba(255, 255, 255, 1)">
<!--<h3>Мы верим, что каждый котенок заслуживает любящий дом, и мы делаем все возможное, чтобы найти им семью, которая окажет им нежность и заботу.-->

<!--Присоединяйтесь к нам в приюте "Кошачий двор" и помогите создать лучшую жизнь для наших маленьких пушистых друзей!</h3>-->
<div class="back">
<ul class="border">
    <h2>Приют "Кошачий двор" предлагает следующие услуги и преимущества</h2>
  <li>Разнообразие пород: У нас вы найдете представителей различных пород кошек. Независимо от того, ищете ли вы сиамского кота, британскую короткошерстную кошку или другую породу, у нас есть котята для всех любителей кошек.</li>
  <li>Тщательно отобранные котята: Все наши котята проходят медицинское обслуживание, прививки и воспитание, чтобы быть готовыми стать вашими преданными друзьями.</li>
  <li>Усыновление и передержка: Мы помогаем нашим котятам найти ответственные и заботливые семьи. Если вы не можете навсегда усыновить котенка, вы можете стать передерживающим и временным опекуном.</li>
  <li>Волонтерская деятельность: Мы приветствуем волонтеров, которые могут помочь нам в уходе за котятами, их кормлении, уборке и общении с ними.</li>
  <li>Образовательные программы: Мы проводим различные мероприятия и образовательные программы для владельцев кошек, чтобы помочь им лучше понять своих питомцев и обеспечить им заботу, которая им необходима.</li>
<h5>Самую актуальную информацию о приюте можно узнать тут: <a href="https://vk.com/club120538817"> <i class="fa-brands fa-vk fa-beat-fade"></i></a>
  <a href="https://www.instagram.com/kotland_yard_spb/"><i class="fa-brands fa-instagram fa-beat-fade" style="color: #ff8040;"></i></a>
  <p>С уважением, Команда приюта домашних животных "Кошачий двор".</p></h5>
</ul>
</div>

    </div>
{% endblock %}