{% extends 'layout_app/index.html' %}
{% load static %}
{% block title %} Помощь {% endblock %}
{% block aside %}
{% endblock %}

{% block content %}
<div class="main-page" style="background: rgba(255, 255, 255, 1)">
  <div class="backh">
<ul class="border">
  <h2>РЕКВИЗИТЫ ФИН.ПОМОЩИ:</h2>
  <li>БИК 044030653
ПАО Сбербанк
Корреспондентский счет 30101810500000000653
Расчетный счет 40703810655000003958
Наименование получателя АВТОНОМНАЯ НЕКОММЕРЧЕСКАЯ ОРГАНИЗАЦИЯ "ЦЕНТР РЕАБИЛИТАЦИИ И ПОМОЩИ БЕЗДОМНЫМ ЖИВОТНЫМ "КОТЛАНД -ЯРД(КОШАЧИЙ ДВОР)"
ИНН получателя 7804674468</li>
  <li>№ КАРТЫ СБЕРБАНКА ( волонтёра)
КАРТА СБЕРБАНКА - КАРТА волонтера приюта 5336690306071210 СБ, новая карта❗ держатель Марина Трофимовна Н. Карта привязана к номеру телефона 9618074649</li>
  <li>QIWI Wallet: 8-921- 358 - 17- 62;</li>
  <li>ЯК - 410013005941311 ; money.yandex.ru/to/410013005941311</li>
  <li>Голодный телефон 89819871983 (МТС)</li>
</ul>
</div>



    </div>
{% endblock %}