{% extends 'layout_app/index.html' %}
{% load static %}
{% block title %} Главная страница{% endblock %}



{% block aside %}
{% endblock %}


{% block content %}
<div class="main-page" style="background: rgba(255, 255, 255, 1)">
    <div class="backm">
<h1>Добро пожаловать в приют домашних животных "Кошачий двор"!</h1>
<h3>
<p>Мы рады приветствовать вас на нашей главной странице, где вы найдете множество милых котиков, которые находятся под нашей заботой. Мы стремимся обеспечить домашних животных любовью, заботой и безопасностью, и с гордостью представляем вам наших прекрасных пушистых подопечных.</p>

<p>На этой странице вы сможете насладиться коллекцией фотографий всех котов, которые живут в нашем приюте. У каждого котика есть своя уникальная история и особенности, и мы надеемся, что вы найдете здесь своего идеального питомца.</p>

<p>Просматривайте фотографии с улыбкой, восхищайтесь их прекрасной внешностью и позитивной энергией. Если вы заинтересованы в конкретном коте, не стесняйтесь перейти на его страницу, где вы найдете больше информации о нем.</p>

<p>Мы уверены, что вы полюбите наших милых котиков так же, как и мы. Если вы готовы подарить любовь и дом одному из них, свяжитесь с нами для дальнейшей информации о процессе взятия под опеку.</p>

Спасибо, что посетили нашу страницу. Мы надеемся, что вы найдете здесь своего нового лучшего друга. Желаем вам приятного просмотра и незабываемых моментов в компании наших замечательных кошачьих друзей.</h3>

<h5>С уважением,
Команда приюта домашних животных "Кошачий двор".</h5>
        </div>
    </div>
{% endblock %}